
@{
    ViewBag.Title = "Index";
    int Result1 = ViewBag.num1;

}

@if (Result1 % 2 == 0)
    {
        <text>The generated random number @Result1 is even number</text>
    }
    else
    {
        <text>The generated random number @Result1 is odd number</text>
    }
<h2>Index</h2>

